.navbar{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 0 30px;
    border-bottom: 4px lightgrey;
    font-family: Verdana; 
}
li{
    display: inline;
    }
.sub-menu{
    background-color: ivory;
    margin: 0;

}
li a{
    text-decoration: none;
    font-family: Verdana; 
    color: grey;
}

.content {display: flex;
    justify-content: space-between;
    position: relative;
}

.content-left{
    width: 65%;
    background-color: lightgray;
    border-right: 1px solid black;

}
.content-right{
    width: 30%;
    font-family: Verdana;
    position: absolute;
    left: 0;
    
}

.separator{
    border-bottom: 2px solid lightgrey;
    height: 10px;
}
.thumbnails{
    background-color: ivory;
    display: flex;
    justify-items: space-between;
    align-items: baseline;
    padding: 0 3px;
    border-bottom:2px lightgrey;
}
.buttom{
    background: black;
    color: white;
    padding: 10px;
    text-align: center;
    width: 150px;
    border-radius: 5px;
}