.navbar{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 0 30px;
    border-bottom: 4px lightgrey;
    font-family: Verdana; 
}
li{
    display: inline;
    }
.sub-menu{
    margin: 0;
}
li a{
    text-decoration: none;
    font-family: Verdana; 
    color: grey;
}

.content {
    display: flex;
    justify-content: space-between;
    position: relative;
}
.content-left{
    position: absolute;
    width: 65%;
}
.thumbnails{
    display: flex;
    justify-items: space-between;
    align-items: baseline;
    /* margin: 5px; */
}

.image{
    background-color: lightgray;
    margin: 5px;
}
.content-right{
    position: absolute;
    width: 30%;
    font-family: Verdana;
    right: 30px;
}
.separator{
    border-bottom: 2px solid lightgrey;
    height: 10px;
}
.buttom{
    background: black;
    color: white;
    padding: 10px;
    text-align: center;
    width: 150px;
    border-radius: 5px;
}